<form method="post" action="{{ path('disc_delete', {'discId': disc.discId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disc.discId) }}">
    <button class="btn">Delete</button>
</form>
