{% extends 'base.html.twig' %}

{% block title %}Edit Disc{% endblock %}

{% block body %}
    <h1 class="my-3">Modifier un vinyle</h1>

    {{ include('disc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('disc_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
